html, body{
    padding: 10px 20px;
}
img{
    display:block;
    margin:auto;
    width: 40%;
    height: 40%;
    margin-top: 20px;
    min-width: 300px;
}
button{
    box-shadow: 2px 3px 2px black;
}