/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url("../img/usur.png");
    background-size: 100%;
    background-repeat: no-repeat; 
    height: 100%;
    font-family: 'Numans', sans-serif;
    max-height: 100%;
} 
.container{
    height: 100%;
    align-content: center;
    margin-bottom: 0px;
}

.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(4, 41, 71, 1) !important;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,1);
}

hr{
    height: 0px;
    width: auto;
    box-shadow: 2px 4px 2px rgb(252, 252, 252);
}
.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px rgb(6, 6, 173);
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #12a0ff;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}
.card-header{
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
    border-bottom: 0px;
}